.about{
    width: 100dvw;
}
.about__philer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.about__philer__img{
    height: 100px;
}
.about__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.about__content__img{
    width: 18vw;
    border-radius: 20px;
}
.about__content__post{

    &--title{
        font-size: 2em;
    }
    &--text{
        font-size: 1.3em;
    }
}
.about__content--subtext{
    margin: 2em;
    color: #3d3d3d;
}
.cube{
    height: 40%;
    width: 40%;
    margin: 1vw;
}

.order{
    order:-1;
}

@media (min-width: 1024px) {
    .cube{
        height: 30%;
        width: 30%;
        margin: 1vw;
    }
    .order{
        order:4;
    }
}