.contacts{
    width: 100dvw;
    height: 60dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts__text{
    font-size: 3em;
    margin-bottom: 120px;
    opacity: 0;
    transform: translateY(20%);
}
.contacts__email, .contacts__phone{
    font-size: 2em;
    margin: 0.5em;
    opacity: 0;
    transform: translateY(20%);
}

.contacts__info p{
    text-align: center;
}