canvas {
    top: 0;
    left: 0;
}

.hero {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.hero__sphere{
    width: 100vw;
}

.hero__controls{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    &--play{
        background-image: url('./img/play.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
    &--pause{
        background-image: url('./img/pause.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.hero__title {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    font-size: 5em;
    font-weight: 600;
    top: 30dvh;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    & .title__name {
        //margin-right: 1em;
        background-image: linear-gradient(to right, 
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0));
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        &--subname{
            display: none;
            animation-duration: 2s;
            animation-name: slidein;

        }
        &--special{
            background-image: linear-gradient(to right, 
                rgb(255, 255, 255),
                rgba(255, 255, 255, 0.8), 
                rgba(255, 255, 255, 0));
            border-bottom: solid 1px rgb(255, 255, 255);
            animation-duration: 1s;
            animation-name: slidein;
        }
    }
}

.hero__subtitle{
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 60px;
    font-size: 1.5em;
    font-weight: 600;
    top: 70dvh;
    left: 2vw;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border-top: solid 1px rgb(255, 255, 255);
    
    &--text{
        animation-duration: 2s;
        animation-name: slidein;
    }
}

@media (min-width:560px) {
    .hero__subtitle{
        left: 10vw;
    }
}
@media (min-width:860px) {
    .hero__title .title__name{
        &:first-child{
            display: block;
        }
        &--special{
            background-color: transparent;
            background-image: linear-gradient(to right, 
                rgb(255, 255, 255),
                rgba(255, 255, 255, 0.8), 
                rgba(255, 255, 255, 0));
            border-bottom: solid 1px rgb(255, 255, 255);
        }
    }
    .hero__subtitle{
        width: 300px;
        left: 10vw;
    }
    .hero__controls{
        width: 100px;
        height: 100px;
    }
}

@media (min-width:1024px) {
    .hero__controls{
        width: 120px;
        height: 120px;
    }
}
@media (min-width:1280px) {
    .hero__title .title__name--subname{
        display: block;
    }
    .hero__subtitle{
        width: 350px;
        left: 20vw;
    }
}
@media (min-width:1920px) {
    .hero__subtitle{
        width: 350px;
        left: 25vw;
    }
}