canvas {
    top: 0;
    left: 0;
}

.hero {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

.hero__sphere{
    width: 100vw;
}

.hero__controls{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    &--play{
        background-image: url('./img/play.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
    &--pause{
        background-image: url('./img/pause.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.hero__title {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    font-size: 5em;
    top: 30dvh;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    & .title__name {
        margin-right: 1em;
        background-image: linear-gradient(to right, 
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0));
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        &--subname{
            display: none;
        }
        &--special{
            background-image: linear-gradient(to right, 
                rgb(255, 255, 255),
                rgba(255, 255, 255, 0.8), 
                rgba(255, 255, 255, 0));
            
            border-bottom: solid 1px rgb(255, 255, 255);
        }
    }
}

.hero__subtitle{
    position: absolute;
    text-align: right;
    width: 200px;
    font-size: 1.5em;
    top: 60dvh;
    left: 10vw;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border-top: solid 1px rgb(255, 255, 255);
}
@media (min-width:860px) {
    .hero__title .title__name{
        &:first-child{
            display: block;
        }
        &--special{
            background-color: transparent;
            background-image: linear-gradient(to right, 
                rgb(255, 255, 255),
                rgba(255, 255, 255, 0.8), 
                rgba(255, 255, 255, 0));
            border-bottom: solid 1px rgb(255, 255, 255);
        }
    }
    .hero__subtitle{
        width: 360px;
        left: 30vw;
    }
    .hero__controls{
        width: 150px;
        height: 150px;
    }
}